@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

/*=====================nav-header================== */
.logo {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.logo1 {
    color: #01C8FF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.links {
    color: #000;
    font-family: 'Poppins',
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbtn {
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-radius: 23px;
    background: #2C49FE;
    padding: 11px 28px;
    border: transparent;
}

.space-between {
    justify-content: space-between;
}

.py-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.bg-color {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.05);
}

.menuList.show {
    right: 0 !important;
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    .menuList {
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms linear;
        z-index: 1;
        padding-left: 0;
    }

    .menuIcon {
        height: 30px;
        width: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;
        /* position: fixed;
        right: 5px; */
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background-color: #01C8FF;
    }

    ul.menuList.show {
        right: 0;
    }
}

.h-408 {
    height: 408px;
}

.w-401 {
    width: 401px;
}

.text1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    align-items: center;
}

.heading1 {
    color: #000;
    font-family: ' Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.mx-width-857 {
    max-width: 857px;
}

.event1 {
    color: #000;
    font-family: ' Poppins',
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.heading-1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-1 {
    max-width: 163px;
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.flex-direction-col {
    flex-direction: column;
}

.box {
    padding: 13px 19px 13px 13px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}

.box1 {
    padding: 30px 55px;
    border-radius: 20px;
    background-color: #EAEDFF;
}

.nmber1 {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.more {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.py-50 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.mx-w-322 {
    max-width: 322px;
}

/*=====================section-2=================*/
.underline {
    position: relative;
}

.underline::after {
    content: "";
    width: 60%;
    height: 8px;
    position: absolute;
    top: -16px;
    left: 0;
    background: #2C49FE;
}

.underline::before {
    content: "";
    width: 50%;
    height: 8px;
    position: absolute;
    top: -16px;
    right: 21%;
    background: #01C8FF;
}

.heading2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.mx-width-516 {
    max-width: 516px;
}

.mx-w-553 {
    max-width: 553px;
}

.box-2 {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #FFF;
}

.position-absolute {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.background {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}

.line {
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    height: 1px;
    margin: 20px 0;
}

/*=========================section-3=========================*/
.coment {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
}

.comt-btn {
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 8px 10px;
    border-radius: 36px;
    background: #2C49FE;
    border: none;
}

.border {
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    background: #FFF;
}

.heading-3 {
    color: #000;
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.text1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    align-items: center;
}

.bg-color1 {
    background: #F1F1F5;
    border-radius: 0px 20px 20px 20px;
}

.mx-w-1199 {
    max-width: 1199px;
}

.mx-w-1126 {
    max-width: 1126px;
}

/*====================section-4=========================*/
.background1 {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

/*=======================footer======================*/
.footer-text {
    max-width: 346px;
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.l-heading {
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.link {
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cursor-pointer {
    cursor: pointer;
}

.footer-svg {
    transition: all 300ms linear;
}

.footer-svg:hover {
    transform: translateY(-16%);
}

.show-me-box {
    background: rgba(45, 60, 174, 0.53);
    height: 100%;
}

.l-show {
    text-align: center;
    max-width: 43px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins',
        sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.last-t {
    color: #FFF;
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pt-50 {
    padding-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

/*=====================@media-querrys====================*/
@media (min-width:768px) {
    .comt-btn {
        color: #FFF;
        font-family: 'Poppins',
            sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        padding: 11px 28px;
        border-radius: 36px;
        background: #2C49FE;
        border: none;
    }
}

@media (min-width:992px) {
    .mb-lg-100 {
        margin-bottom: 100px;
    }
}

@media (max-width:576px) {
    .mx-pt-20 {
        padding-top: 20px;
    }
}

@media (max-width:768px) {
    .coment {
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        border: none;
    }

    .comt-btn {
        color: #FFF;
        font-family: 'Poppins',
            sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        padding: 9px 27px;
        border-radius: 36px;
        background: #2C49FE;
        border: none;
    }
}